<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
         bootstrap="./test/bootstrap.php"
         verbose="true"
         colors="true">

  <testsuites>
    <testsuite name="Bupy7\\Doctrine\\NestedSets">
      <directory>./test/src/Functional</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-html" target="build/coverage"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>

  <php>
    <env name="BDNS_DB_HOST" value="mysql"/>
    <env name="BDNS_DB_USERNAME" value="admin"/>
    <env name="BDNS_DB_PASSWORD" value="1234"/>
    <env name="BDNS_DB_NAME" value="master_test"/>
    <env name="BDNS_DB_PORT" value="3306"/>
  </php>
</phpunit>
